<section class="page store">
    <app-backButtn></app-backButtn>
    <div class="titlePage animated fadeIn">
        <h3>Tienda</h3>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="container-fluid cuadro-modal animated fadeInUp" *ngIf="!isLoading">
        <div class="lineamedio"></div>
        <div class="container">
            
            <!-- mensaje -->
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="msm_success_fav">
                Artículo agregado a <a [routerLink]="['/app/user/favorites']"><b>Favoritos!</b></a>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <!-- mensaje -->
            </div>
        <div>
            

            <!----info-->
            <div class="areablanc areablanc-interna animated fadeInUp" >
                <div class="div-responsive1">

                    <!---Slider-->
                   <!-- <app-cupones ></app-cupones> -->
                    <div class="carousel-inner-data">
                            <div class="post navTabs" *ngFor="let producto of productos">
    
                                <div class=" itemStore">
                                    <div class="group   productoitem">
                                        <div class="favoritesdiv1">
                                            <a [routerLink]="['/app/product', producto._id]">
                                                <img [src]="producto.img | imagenPipe: 'productos'"alt="">
                                            </a>
                                        </div>
    
                                        <div class="favoritesdiv2">
                                            <p><b>{{producto.titulo | slice:0:15}}</b></p>
                                            <p>{{producto.categoria.nombre | slice:0:15}}...</p>
                                            <div class="precio">
                                                <p>$ {{producto.precio_antes}}</p>
                                                <p>$ {{producto.precio_ahora}}</p>
                                            </div>
                                        </div>
                                        <div class="botones">
                                            <button class="button-add-favorite " (click)="addToFavoritoos(producto)"><i class="fa  fa-heart " id="myBtn "></i></button>
                                            <button class="button-add-favorite " [routerLink]="['/app/product', producto._id]"><i class="fa  fa-eye " id="myBtn "></i></button>
                                        </div>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>

                </div>

            </div>

            <!---info-->




        </div>

    </div>
</section>