.logo2 {
    
        position: fixed;
    z-index: 90;
    left: calc(14%);
    top: -17px;
    width: 109px;
    height: 113px;
    transform: translate(0px, 0%);
}


/*header fijo*/

.header2 .logo2{
    filter: contrast(0.5);
    display: block;
}


/*header device*/

.header3 {
    background-color: var(--dark-blue) !important;
}
.header3 .logo2{
    filter: blur(3);
}

.titlePage2 {
    padding-top: 0;
    position: sticky;
    z-index: 99;
    top: -5px;
    left: calc(28%);
    text-align: center;
    transition: all 2s 1 ease;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: auto;
}