.home {
    width: 100w;
    height: 100vh;
    display: block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3c2415+0,000000+60,000000+100 */
    background: #fdfaf9;
   
}




.home .logo {
    position: relative;
    z-index: 9;
    height: 120px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    position: relative
}


/*
.home .logo2 {
    position: fixed;
    z-index: 9;
    left: calc(38%);
    top: -15px;
    width: 90px;
    height: 100px;
    transform: translate(0px, 0%);
}
*/

.cuadro-modal {
    width: 100%;
    height: 90%;
    background-color: var(--light-brown);
    position: absolute;
    z-index: 3;
    bottom: 0%;
    transform: translate(0px, 0%);
    border-radius: 30px 30px 0px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
}

.home .cuadro-modal {
    background-image: url(../images/pexels-lilartsy-3216564.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient-home {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,ffffff+99&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 9;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cuadro-modal img {
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center
}

.text-intro {
    color: var(--white);
    display: flex;
    width: 100%;
    position: relative;
    z-index: 99;
    top: 2%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    margin-top: 390px;
}

.text-intro h1 {
    display: flex;
    font-weight: 700;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.home .categorylist {
    
    height: auto;
    width: 100%;
    margin: auto;
    /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
  
}

.home .post .group .foto img {
    width: 90%;
    margin: 5px;
    border: 1px solid var(--grisclaro);
}

.home .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.home .categorylist h2 {
    font-size: var(--texto-size);
    /* padding: 5px;
    margin-top: 5px; */
    color: var(--lighter-brown);
}

.text-intro h2 {
    display: flex;
    font-weight: 200;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.slider-container {
    display: flex;
    -webkit-animation: slider-container 2.5s 1 ease-out;
    -moz-animation: slider-container 2.5s 1 ease-out;
    -o-animation: slider-container 2.5s 1 ease-out;
    -ms-animation: slider-container 2.5s 1 ease-out;
    animation: slider-container 2.5s 1 ease-out;
}

@keyframes slider-container {
    0% {
        transform: translate(100%, 0%);
    }
    100% {
        transform: translate(0px, 0%);
    }
}

@-webkit-keyframes slider-container {
    0% {
        transform: translate(100%, 0%);
    }
    100% {
        transform: translate(0px, 0%);
    }
}

.home .post .group .foto .post-date {
    margin-bottom: 0px;
}

@media(min-width: 768px) {
    .home .logo {
        position: relative;
        z-index: 9;
        height: 120px;
        display: block;
        margin: 0% 80%;
        width: auto;
    }
}
