.productPage {
    width: 100w;
    height: 100vh;
    display: block;
   background-color: var(--blue);
}

.productPage .logo {
    position: absolute;
    z-index: 9;
    left: calc(33%);
    width: 130px;
    height: 130px;
    top: -15px;
    transform: translate(0px, 0%);
}

.productPage .cuadro-modal {
    bottom: 0%;
    transform: translate(0px, 60%);
    background-color: var(--lighter-brown);
    padding: 20px;
    height: auto;
    padding-top: 90px;
}

@keyframes cuadro-modal {
    0% {
        transform: translate(0px, 40%);
    }
    100% {
        transform: translate(0px, 40%);
    }
}

@-webkit-keyframes cuadro-modal {
    0% {
        transform: translate(0px, 40%);
    }
    100% {
        transform: translate(0px, 40%);
    }
}

.productPage .product-item {
    /* position: relative;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 250px;
    display: block;
    margin: auto;
    overflow: hidden;
    transform: translate(0px, 60px); */

    position: relative;
    top: 0px;
    z-index: 120;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    overflow: hidden;
    transform: translate(0px, 55px);
}

.productPage .titlePage {
    text-align: center;
    color: var(--light-brown);
    font-size: var(--subtituloh3-size);
    padding-top: 15px;
}

.productPage .butonBack .fa {
    position: relative;
    z-index: 9;
    font-size: var(--icon-size-g);
    top: 0;
    left: 15px;
    color: var(--lighter-brown);
}

.productPage .info-product {
    position: absolute;
    top: 230px;
    left: 15px;
    z-index: 10;
    width: 90%;
    display: block;
    margin: auto;
}

.productPage .info-product h1 {
    font-size: var(--subtituloh1-size);
}

.productPage .info-product h2 {
    font-size: var(--subtituloh2-size);
    font-weight: 200;
    padding-bottom: 10px
}

.productPage .info-product p {
    font-size: var(--texto-size);
}

.cardTitleProduct {
    display: grid;
    grid-template-columns: repeat(2, 70%);
    grid-template-rows: repeat(2, 12%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.cardTitleProduct h1 {
    font-size: var(--subtituloh1-size);
    display: flex;
}

.cardTitleProduct h2 {
    font-size: var(--subtituloh2-size);
    display: flex;
}

.cardTitleProduct .price {
    font-size: var(--price-size);
    align-self: flex-end;
    display: flex;
    color: var(--dark-brown);
}

.cardTitleProduct .stars {
    align-items: flex-start;
    padding-right: 33px;
}

.cardTitleProduct .stars ul li {
    list-style: none;
    font-size: var(--texto-size);
}

.lineamedio {
    height: 4px;
    width: 30%;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
    background-color: var(--light-brown);
}


/* add more */

.details__product-quantity {
    display: flex;
    gap: 32px;
}

.input {
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

.input__minus {
    width: 25px;
    height: 100%;
    padding: 24px 5px;
}

.input__minus:hover {
    cursor: pointer;
}

.input__number {
    width: 100%;
    border: none;
    background-color: var(--white);
    font-size: var(--texto-size);
    font-family: var(--font-family);
    text-align: center;
    outline: none;
}

.input__plus {
    width: 25px;
    height: 100%;
    padding: 19px 3px;
}

.input__plus:hover {
    cursor: pointer;
}

.productPage .product-item img {
    display: block;
    width: 90%;
    height: auto;
    position: relative;
    margin: auto;
    z-index: 20;
    /* box-shadow: var(--shadow); */
    filter: drop-shadow(0 0 0.75rem rgb(36, 33, 33));
}

.galeria-prod {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(2, 18vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-floating-btn {
    opacity: 1
}

.star-rating {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle
}

.star-rating .fa-star {
    display: inline-block;
    margin-right: .1875rem;
    color: var(--dark-brown);
    font-size: 12px;
    vertical-align: middle
}

.star-rating .fa-star.active {
    color: var(--star-color);
}

.modal-content {
    z-index: 9999999 !important;
}

.modal-backdrop {
    position: relative !important;
    background-color: transparent !important;
}

.precioantes {
    text-decoration: line-through;
}
