.promociones {
    display: flex;
    width: 95%;
    height: 280px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: auto;
    border-radius: 24px 24px 0px 0px;
    box-shadow: var(--shadow-brown);
}

.promociones img {
    width: 100%;
    height: auto;
}


.tiempo {
    display: flex;
    gap: 5px;
    background-color: ivory;
    padding: 10px;
    border: 1px dotted #ccc;
    width: fit-content;
    box-shadow: 0px 4px 7px #ccc;
}