.store {
    width: 100w;
    height: 100vh;
    display: block;
    background-color: var(--blue);
    
}

.store .post-inner {
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    padding-right: 20px;
    width: 100%;
    height: 90vh;
    padding-bottom: 150px;
    margin-top: 10px;
}
.store .lineamedio {
    height: 4px;
    width: 30%;
    display: block;
    margin: 15% 29%;
    position: absolute;
    top: 0px;
    border-radius: 8px;
    background-color: #CCB092;
}
.store .scrollable {
    height: 50vh;
}

/*
.store .cuadro-modal{
   background-image: none;
    width: 100%;
    min-height: 130vh;
    height: auto;
    background-color: var(--light-brown);
    position: absolute;
    z-index: 3;
    bottom: -42%;
}
*/
.store .cuadro-modal {
    bottom: 0%;
    transform: translate(0px, 0%);
    background-color: var(--lighter-brown);
    padding: 20px;
    height: auto;
    padding-top: 70px;
}
.store .logo {
    position: absolute;
    z-index: 9;
    left: calc(33%);
    width: 130px;
    height: 130px;
    transform: translate(0px, 0%);
}
.store .shadowSearch {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.3);
}
.ordenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.ordenesdiv1 {
    grid-area: 1 / 1 / 2 / 2;
}
.ordenesdiv2 {
    grid-area: 1 / 2 / 2 / 3;
}
.infoOrder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.infoOrderdiv1 {
    grid-area: 1 / 1 / 2 / 2;
}
.infoOrderdiv2 {
    grid-area: 2 / 1 / 3 / 2;
}
.store .categorylist {
    border-radius: 14px;
    background: var(--green-gray);
    height: 50px !important;
    width: 95%;
    margin: auto;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    
}
.store .categorylist {
    grid-auto-columns: calc(45% - (var(--swiffy-slider-item-gap)/ 2) - 2.5rem)!important;
    margin-bottom: 0px !important;
}
.store .categorylist h2 {
    font-size: 14px;
    padding: 5px;
    border-right: 1px solid var(--dark-brown);
    margin-top: 5px;
    color: var(--lighter-brown);
}
.store .post .group .foto .post-date {
    margin-bottom: 0px;
}
.store .post .group .foto img {
    width: 90%;
    margin: 5px;
    border: 1px solid var(--grisclaro);
}
.store .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.storew-60 {
    width: 63%;
}
@media(min-width: 768px) {
    .store .categorylist {
        grid-auto-columns: calc(30% - (var(--swiffy-slider-item-gap)/ 2) - 2.5rem)!important;
        margin-bottom: 0px !important;
    }
    
    .storew-60 {
        width: 100%;
    }
    
    .store .logo {
        position: absolute;
        z-index: 9;
        left: calc(20%);
        top: -12px;
        width: 120px;
        height: 120px;
        transform: translate(0px, 0%);
    }
    
    .store .cuadro-modal {
        width: 80%;
        margin-left: 20%;
    }
    
    .store .cuadro-modal {
        background-image: none;
        width: 100%;
        min-height: 120vh;
        height: auto;
        background-color: var(--light-brown);
        position: absolute;
        z-index: 3;
        bottom: -32%;
    }
    
    .store .post-inner {
        overflow: hidden;
        overflow-y: scroll;
        position: fixed;
        padding-right: 40px;
        width: calc(60%);
        height: 75vh;
        padding-bottom: 150px;
        margin-top: 30px;
    }
    
    .store .lateral .itemFav img {
        width: 80%;
        padding: 5px;
        border: 1px solid rgb(231, 231, 231);
        background-color: #fafafa;
        border-radius: 13px;
        box-shadow: 0px 7px 10px #e3e2e2;
    }
    
    .store .post-inner {
        margin-left: 0%;
    }
    
    .store .div1 p {
        padding: 0px;
        margin: 0px;
        font-size: 1.5vw;
    }
    
    .search .lateral .group {
        width: 100%;
        display: grid;
        float: left;
        background-color: var(--blanco);
    }
    
    .store .areablanc-interna {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100vw;
        position: relative;
        left: calc(0%);
    }
    
    .store .div1 p {
        padding: 0px;
        margin: 0px;
        font-size: 1.5vw;
    }
    
    .store .post .group {
        display: grid;
        gap: 1rem;
        grid-auto-rows: 7rem;
        grid-template-columns: repeat(4, minmax(calc(180px), 1fr));
    }
    
    .store .post .group {
        display: grid;
        gap: 1rem;
        grid-auto-rows: 10rem;
        position: relative;
        width: 70%;
        grid-template-columns: repeat(4, minmax(calc(180px), 1fr));
    }
    
    .store .areagris {
        height: auto;
    }
    
    .store .cuadro-modal {
        width: 80%;
    }
    
    .store .post-inner {
        overflow-y: none;
    }
    
    .store .slider-container {
        height: 170px;
    }
}