iframe {
    width: 100%;
    height: 100%;
}

.listacolor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-items: baseline;
}
.listacolor  i{
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px #333;
    border-radius: 100px; height: 30px; width: 30px;
}

.logo-home{
    width: 22%;
    height: 80px;
    position: relative;
    left: 41%;
    top: 20px;
}