<section class="productPage">
    <div class="container">
        <div class="row">
            <app-backButtn></app-backButtn>
            <!--slideproduct-->
            <div class="product-item  animated fadeIn">
                <img [src]="producto?.img | imagenPipe: 'productos' " alt="">
            </div>
            <!--slideproduct-->
            <!--cuadromodal-->
            <div class="cuadro-modal ">
                <div class="lineamedio"></div>
        
                <div class="row">
                    <div class="card-body  ">
                    
                        <div class="col-12">
                            
                            <div class="summary">
                                <div class="desc">
                                    <div class="header-desc">
                                        <h2 class="product-title">{{producto?.titulo}} </h2>
                                    </div>
                                </div>
                                <!-- detalle -->
                                <div class="" id="preview-img">
                                    <div class="product-details ml-auto pb-3">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <a href="#reviews" data-scroll="">
                                                <div class="star-rating" *ngIf="raiting_puntos == 5">
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="raiting_puntos >= 4 && raiting_puntos < 5">
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="raiting_puntos >= 3 && raiting_puntos < 4">
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="raiting_puntos >= 2 && raiting_puntos < 3">
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="raiting_puntos >= 1 && raiting_puntos < 2">
                                                    <i class="fa-star-filled active"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="raiting_puntos >= 0 && raiting_puntos < 1">
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                    <i class="fa-star-filled"></i>
                                                </div>
                                                <span class="d-inline-block font-size-sm text-body align-middle mt-1 ml-1">{{comentarios.length}}
                                                <span *ngIf="comentarios.length == 1">Reseña</span>
                                                <span *ngIf="comentarios.length != 1">Reseñas</span>
                                                </span>
                                            </a>
                                            <button class="btn btn-danger mr-0 mr-lg-n3" (click)="addToFavorites(producto)" type="button" data-toggle="tooltip" title="" data-original-title="Add to wishlist">
                                              <i class="fa fa-heart"></i>
                                            </button>
                                        </div>
                                        <div class="mb-3"><span class="h3 font-weight-normal text-accent mr-1">${{producto?.precio_ahora}}</span>
                                            <del class="text-muted font-size-lg mr-3">${{producto?.precio_antes}}</del>
                                            <span class="badge badge-danger badge-shadow align-middle mt-n2">Oferta</span>
                                        </div>
                                        <div class="font-size-sm" *ngIf="producto?.subcategoria !== 'Comida Rápida' && producto?.subcategoria !== 'Alimentos'">
                                            <span class="text-heading font-weight-medium mr-1">
                                                  Colores:</span><br>
                                            <span class="row" id="colorOption">
                                                <div class="listacolor">
                                                    <ng-container *ngFor="let color of colores; let indice = first">
                                                        <div *ngIf="indice" class="itemcolor" >
                                                            <i  [style.background]="color.color" style="cursor: pointer;" (click)="get_color(color)"></i>
                                                            {{color.titulo}} 
                                                        </div>
                                                        <div *ngIf="!indice" class="itemcolor" >  
                                                            <i  [style.background]="color.color"style="cursor: pointer;" (click)="get_color(color)" ></i> 
                                                            {{color.titulo}} 
                                                        </div>
                                                    </ng-container>
                                                </div>
                                               
                                          </span>
                                        </div>
                                        <div class="font-size-sm mb-4">
                                            <span class="text-heading font-weight-medium mr-1">
                                              Stock:</span>
                                            <span class="text-muted">
                                                {{producto?.stock}}
                                            </span>
                                        </div>
                                        <div class="position-relative mr-n4 mb-3">
                                            <div class="product-badge product-available mt-n1 badge-success">
                                                <i class="fa fa-check-circle-o text-success"></i> 
                                                &nbsp; Compra segura
                                            </div>
                                        </div>

                                        <!-- mensaje -->
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="msm_success">
                                            Artículo agregado al <a [routerLink]="['/app/cart']"><b>Carrito!</b></a>.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <!-- mensaje -->
                                        <!-- mensaje -->
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="msm_success_fav">
                                            Artículo agregado a <a [routerLink]="['/app/user/favorites']"><b>Favoritos!</b></a>.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <!-- mensaje -->
                                        <form class="mb-grid-gutter" #carritoForm="ngForm" (ngSubmit)="add_to_cart(carritoForm)">
                                            <div class="form-group">
                                                <div class="d-flex justify-content-between align-items-center pb-1">
                                                    <label class="font-weight-medium" for="product-size">{{producto?.nombre_selector}}:</label>
                                                    <a class="nav-link-style font-size-sm" *ngIf="producto?.subcategoria == 'Calzado'" data-toggle="modal" data-target="#sizes-modal" style="cursor: pointer;">
                                                        <i class="czi-ruler lead align-middle mr-1 mt-n1"></i>Formato de tallas
                                                    </a>
                                                </div>
                                                <select class="custom-select form-control" required="" id="product-size" name="selector_to_cart" [(ngModel)]="selector_to_cart">
                                                  <option value=" " selected disabled>Selecciona</option>
                                                  <option value="{{selector.titulo}}" *ngFor="let selector of selectores" >{{selector.titulo}}</option>
            
                                                </select>
                                                <div class="invalid-tooltip" style="display: block;" *ngIf="selector_error">Selecciona alguna opción por favor.</div>
                                            </div>
                                            <div class="form-group d-flex align-items-center">
                                                <input type="number" class="form-control mr-3" min="1" [attr.max]="producto?.stock" name="cantidad_to_cart" [(ngModel)]="cantidad_to_cart" style="width: 5rem;">
                                                <!-- <button class="btn btn-primary btn-shadow btn-block" disabled *ngIf="!identity" type="submit"><i class="czi-cart font-size-lg mr-2"></i>Agregar al carrito</button> -->
                                                <button class="btn btn-primary btn-shadow btn-block"  type="submit"><i class="czi-cart font-size-lg mr-2"></i>Agregar al carrito</button>
                                            </div>
                                            <div class="invalid-feedback" *ngIf="err_stock" style="display: block;">{{err_stock}}</div>
                                        </form>
                                        <!-- Product panels-->
                                        <div class="row">
                                            <!-- {{producto?.info_short}} -->
                                            <p [innerHTML]="producto?.info_short" style="font-size: 14px;"></p>
            
                                        </div>
                                        <!-- Sharing-->
            
                                    </div>
                                </div>
                                <!-- detalle -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--cuadromodal-->

        </div>

    </div>





</section>
