<section class="page favorites category">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage ">
        <h3>Category: {{productos[0].categoria.subcategorias}}</h3>
    </div>
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="container">
            <!-- mensaje -->
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="msm_success">
                Artículo agregado al <a [routerLink]="['/app/cart']"><b>Carrito!</b></a>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- mensaje -->
            <!-- mensaje -->
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="msm_success_fav">
                Artículo agregado a <a [routerLink]="['/app/user/favorites']"><b>Favoritos!</b></a>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- mensaje -->
        </div>
        
        <div class="lineamedio"></div>
        <div>
            <!----info-->
            <div class="areablanc areablanc-interna animated fadeInUp">
                <div class="div-responsive1">

                    <div class="post-inner">

                        <div class="carousel-inner-data">
                            <div class="post navTabs" *ngFor="let producto of productos">
                                <div class=" itemFav">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a [routerLink]="['/app/product', producto._id]">
                                                <img [src]="producto.img | imagenPipe: 'productos'" alt="">
                                            </a>
                                        </div>

                                        <div class="favoritesdiv2">
                                            <p>{{producto.titulo|slice:0:20}}...</p>
                                            <p *ngIf="producto.status"></p>
                                            <div class="precio">
                                                <p>$ {{producto.precio_antes}}</p>
                                                <p>$ {{producto.precio_ahora}}</p>
                                            </div>

                                            <!-- <div class="stars">
                                                <ul>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div> -->
                                        </div>
                                        <div class="botones">
                                            <button class="button-add-favorite " (click)="addToFavoritoos(producto)"><i class="fa  fa-heart " id="myBtn "></i></button>
                                        <button class="button-add-cart" (click)="addToCart(producto)"><i class="fa  fa-shopping-bag" id="myBtn "></i></button>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                        

                    </div>

                </div>
                <div class="div-responsive2">

                    <!-- <app-lateral></app-lateral> -->
                </div>


            </div>

            <!---info-->
        </div>

    </div>
</section>