<section class="page cart user">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Carrito</h3>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>
    <div *ngIf="carrito.length > 0 && !isLoading">

        
        <!--cuadromodal-->
        <div class="container-fluid cuadro-modal animated fadeInUp">
            <div class="total">
                <!-- <i class="fa fa-trash" aria-hidden="true" (click)="emptyCart()"></i> -->
                
                                <p *ngIf="!subtotal">Total:  ${{total}}</p>
                                <p *ngIf="subtotal">Total:  ${{subtotal + total}}</p>
            </div>
            <div class="lineamedio"></div>
            <div class="row">

                <div class="areagris">
                </div>

                <div class="areablanc areablanc-interna animated fadeInUp">
                    

                    <div class="div-responsive1 scrollable">
                        <!--list of products-->
                            <div class="listProducts animated fadeInUp " *ngIf="!isLoading">
                                <div class="product" *ngFor="let item of carrito; index as i">
                                    <div class="itemProductdiv1">
                                        <a [routerLink]="['/app/product', item.producto._id]">
                                            <img [src]="item.producto.img | imagenPipe: 'productos'" alt="">
                                        </a>
                                    </div>
                                    <div class="itemProductdiv2">
                                        <div class="addCompra">
                                            <div class="addCompradiv1 nameProduct">
                                                <p>{{item.producto.titulo | slice: 0:10 }}...</p>

                                            </div>
                                            <div class="addCompradiv2 addInfo">
                                                <p>200gm</p>
                                                <p>${{item.precio}}</p>
                                            </div>
                                            <div class="addCompradiv3 buttonsAdd">
                                                <!-- <i class="fa fa-minus" (click)="deletItem(i)"></i> -->
                                                <!-- <i class="fa fa-plus" (click)="addToCart(item)"></i> -->
                                                <i class="fa fa-trash" aria-hidden="true" (click)="remove_producto(item._id)"></i>

                                            </div>
                                            <div class="addCompradiv4 subtotal">
                                                <p>Cant: {{item.cantidad }}</p>
                                                <p>${{item.cantidad * item.precio| number: '1.1-2'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--list of products-->
                        <div class="container">
                            <div class="text-center  border-bottom">
                                <h2 class="h6 mb-3 pb-1">Delivery</h2>
                                <!-- <h3 class="font-weight-normal">${{total}}</h3> -->
                            </div>
                           
                            <!-- medio postal -->
                            <div class="card mb-4 cart-data-venta" style="padding-left: 8px;" *ngIf="!isLoading">
                                <div class="card-body">
                                    <h3 style="    font-size: 1rem;
                          margin-bottom: 0px;">Medio postal</h3>
                                </div>
                                <table class="postal">
                                    <thead>
                                        <th>OP</th>
                                        <th>Medio postal</th>
                                        <th>Precio</th>
                                    </thead>
                                    <tbody *ngFor="let item of postales">
                                        <tr>
                                            <td *ngIf="item._id == radio_postal">
                                                <input type="radio" class="form-control" style="height: 25px;width: 15px;" [attr.id]="'postal-'+item._id" name="radio" (change)="select_postal($event,item)" value="{{item._id}}" checked>
                                            </td>
                                            <td *ngIf="item._id != radio_postal">
                                                <input type="radio" class="form-control" style="height: 25px;width: 15px;" [attr.id]="'postal-'+item._id" name="radio" (change)="select_postal($event,item)" value="{{item._id}}">
                                            </td>
                                            <td>
                                                <!-- Blockquote -->
                                                <blockquote class="blockquote" style="margin-bottom: 0.4rem;">
                                                    <p style="font-size: 13px;margin-bottom: 0px !important;">{{item.titulo}}</p>
                                                    <footer class="blockquote-footer">
                                                        {{item.tiempo}}
                                                    </footer>
                                                </blockquote>

                                            </td>
                                            <td>${{item.precio}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class=" mb-4 pb-3 border-bottom bg-light">
                                <p class="font-weight-normal">Sub Total: ${{total}}</p>
                                <p class="font-weight-normal">Delivery: ${{subtotal}}</p>
                                <p class="font-weight-normal">Total:  ${{subtotal + total}}</p>
                            </div> -->
                            <!-- medio postal -->

                            <!-- promoCode -->
                            <div class="accordion mb-4 cart-data-venta" id="order-options" *ngIf="carrito">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="accordion-heading"><a href="#promo-code" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Aplicar promoción<span class="accordion-indicator"></span></a></h3>
                                    </div>
                                    <div class="collapse show" id="promo-code" data-parent="#order-options">
                                        <form class="card-body needs-validation" method="post" novalidate>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Cupón" name="cupon" maxlength="13" [(ngModel)]="cupon" (keyup)="get_data_cupon($event,cupon)">
                                                <div class="invalid-feedback" *ngIf="msm_error_cupon">Este cupón no esta disponible.</div>
                                                <div class="valid-feedback" *ngIf="msm_success_cupon" style="display: block;">Cupón aplicado exitosamente!</div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="accordion-heading"><a class="collapsed" href="#shipping-estimates" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Dirección de envío<span class="accordion-indicator"></span></a></h3>
                                    </div>
                                    <div class="collapse" id="shipping-estimates" data-parent="#order-options">
                                        <div class="card-body">

                                            <div class="form-group">
                                                <select class="form-control custom-select" required (change)="get_direccion(id_direccion)" [(ngModel)]="id_direccion">
                                                    <option value="" selected disabled>Selecciona</option>
                                                    <ng-container *ngFor="let direccion of direcciones">
                                                        <option value="{{direccion._id}}">{{direccion.direccion}}</option>
                                                    </ng-container>

                                                    </select>

                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="invalid-feedback" style="display: block;" *ngIf="msm_error">{{msm_error}}</div>
                            <!-- <button class="btn btn-primary btn-shadow btn-block mt-4 mb-4" *ngIf="carrito" id="btn-verify-data" (click)="verify_data()"><i class="czi-card font-size-lg mr-2"></i>Proceder a pagar</button> -->
                            <!-- pagar -->
                            <!-- <button class="btn btn-primary btn-shadow btn-block mt-4 mb-4" id="btn-back-data" (click)="back_data()"><i class="czi-reply font-size-lg mr-2"></i>Regresar</button> -->


                            <!-- detalle envio -->
                            <div class=" px-4 pt-4 pb-2 mb-4" id="card-data-envio" *ngIf="direccion || data_direccion">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="h6">Detalles de envío:</h4>
                                        <ul class="list-unstyled font-size-sm">
                                            <li><span class=" dt-w">Destinatario:&nbsp; <br></span>{{data_direccion.nombres_completos}}</li>
                                            <li><span class=" dt-w">Dirección:&nbsp; <br></span>{{data_direccion.direccion}}</li>
                                            <li><span class=" dt-w">País - Ciudad - ZIP:&nbsp; <br></span> {{data_direccion.pais}} <span> - </span> {{data_direccion.ciudad}} <span> - </span> {{data_direccion.zip}}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <!-- detalle envio -->

                            <!-- codigo agregado por Jose Prados que reemplaza en anterior -->
                             <!-- arreglado por malcolm -->
                            <div class="card" id="card-pay">
                                <label class="form-label">Seleccione el método de pago</label>
                                <!-- select metodo de pago -->
                                <select id="paymentMethod" class="custom-select-large" (change)="onPaymentMethodChange($event)" [(ngModel)]="selectedMethod">
                                    <option value=" ">Selecciona un método de pago</option>
                                    <option value="paypal">Paypal</option>
                                    <option value="card">Tarjeta de Crédito/Débito</option>
                                    <option value="transferencia">Transferencia Bancaria</option>
                                </select>
                                <!-- Contenedor para el botón de PayPal -->
                                <div #paypal *ngIf="paypal">
                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                </div>
                                <!-- Contenedor para el botón de habilitacionFormTransferencia -->
                                <div *ngIf="habilitacionFormTransferencia" class="mt-5">
                                    <form [formGroup]="formTransferencia" (ngSubmit)="sendFormTransfer()">

                                        <!-- metodo de pago -->
                                        <div class="mb-3 mt-2">
                                            <label form="metodo_pago" class="form-label">Tipo de Transferencia</label>

                                            <select formControlName="metodo_pago" (change)="onChangePayment($event)" class="custom-select-large" name="metodo_pago" id="metodo_pago">
                                                <option [value]="metodo_pago._id" *ngFor="let metodo_pago of paymentMethods">
                                                    {{metodo_pago.tipo}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="card">
                                            <div class="card-body p-4" *ngIf="paymentSelected">
                                                <p>Nombre del Banco:&nbsp;{{paymentSelected.bankName}}</p>
                                                <p *ngIf="paymentSelected.bankAccount">Numero de Cuenta:&nbsp;{{paymentSelected.bankAccount}}</p>
                                                <p *ngIf="paymentSelected.phone">Numero de Teléfono:&nbsp;{{paymentSelected.phone}}</p>
                                                <p *ngIf="paymentSelected.email">Email:&nbsp;{{paymentSelected.email}}</p>
                                                <p>Ciorif:&nbsp;{{paymentSelected.ciorif}}</p>
                                            </div>
                                        </div>
                                        <div *ngIf="paymentSelected && paymentSelected?.tipo === 'Transferencia Dólares'|| paymentSelected && paymentSelected?.tipo === 'Transferencia Bolivares'">
                                             <!-- nombre del banco -->
                                            <div class="mb-3">
                                                <label for="bankName" class="form-label">Nombre del Banco</label>
                                                <input type="text" formControlName="bankName" class="form-control" name="bankName" id="bankName">
                                            </div>

                                            <!-- numero de referencia -->
                                            <div class="mb-3">
                                                <label for="referencia" class="form-label">Num. referencia</label>
                                                <input type="text" formControlName="referencia" class="form-control" name="referencia" id="referencia">
                                            </div>

                                            <!-- monto -->
                                            <div class="mb-3">
                                                <label for="amount" class="form-label">Monto</label>
                                                <input type="number" formControlName="amount" class="form-control" name="amount" id="amount">
                                            </div>

                                            <!-- botones -->
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-primary" type="submit">
                                                    Enviar
                                                </button>
                                            </div>
                                            
                                        </div>
                                        <div *ngIf="paymentSelected && paymentSelected?.tipo === 'pagomovil'">
                                            <!-- numero de referencia -->
                                            <div class="mb-3">
                                                <label for="phone" class="form-label">Num. Teléfono</label>
                                                <input type="text" formControlName="phone" class="form-control" name="referencia" id="referencia">
                                            </div>
                                             <!-- nombre del banco -->
                                            <div class="mb-3">
                                                <label for="bankName" class="form-label">Nombre del Banco</label>
                                                <input type="text" formControlName="bankName" class="form-control" name="bankName" id="bankName">
                                            </div>

                                            <!-- numero de referencia -->
                                            <div class="mb-3">
                                                <label for="referencia" class="form-label">Num. referencia</label>
                                                <input type="text" formControlName="referencia" class="form-control" name="referencia" id="referencia">
                                            </div>

                                            <!-- monto -->
                                            <div class="mb-3">
                                                <label for="amount" class="form-label">Monto</label>
                                                <input type="number" formControlName="amount" class="form-control" name="amount" id="amount">
                                            </div>

                                            <!-- botones -->
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-primary" type="submit">
                                                    Enviar
                                                </button>
                                            </div>
                                            
                                        </div>
                                        <div *ngIf="paymentSelected && paymentSelected?.tipo === 'zelle'">
                                            <!-- numero de referencia -->
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="text" formControlName="email" class="form-control" name="email" id="email">
                                            </div>
                                             <!-- nombre del banco -->
                                            <div class="mb-3">
                                                <label for="bankName" class="form-label">Nombre del Banco</label>
                                                <input type="text" formControlName="bankName" class="form-control" name="bankName" id="bankName">
                                            </div>

                                            <!-- numero de referencia -->
                                            <div class="mb-3">
                                                <label for="referencia" class="form-label">Num. referencia</label>
                                                <input type="text" formControlName="referencia" class="form-control" name="referencia" id="referencia">
                                            </div>

                                            <!-- monto -->
                                            <div class="mb-3">
                                                <label for="amount" class="form-label">Monto</label>
                                                <input type="number" formControlName="amount" class="form-control" name="amount" id="amount">
                                            </div>

                                            <!-- botones -->
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-primary" type="submit">
                                                    Enviar
                                                </button>
                                            </div>
                                            
                                        </div>
                                       
                                    </form>
                                </div>
                            </div>

                        </div>



                    </div>

                    
                </div>
            </div>
        </div>
        <!--cuadromodal-->
    </div>
    <div *ngIf="carrito.length <= 0 && !isLoading">
        <div class="alert alert-info text-center">
            <h4>Your Cart is empty</h4>
        </div>
    </div>
    









</section>
